@font-face {
    font-family: "titulo primero";
    src: url("../recursos/font/aAkhirTahun.otf");
  }
  
  @font-face {
    font-family: "texto primero";
    src: url("../recursos/font/FaberSansReduced45.otf");
  }
  
  @font-face {
    font-family: "texto navegacion";
    src: url("../recursos/font/Face\ Off\ M54.ttf");
  }